includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:
    paths:
        - app/

    excludePaths:
        - app/Modules/*/Tests/*
        - app/Modules/*/Routes/*
        - app/Modules/*/Database/*

    ignoreErrors:
        -
            identifier: expr.resultUnused
            path: app/Modules/Core/Resources/Views/

    databaseMigrationsPath:
        - app/Modules/*/Database/Migrations/

    level: 10
